

.rec.rec-arrow {
    border-radius: 0;
}

.rec.rec-arrow:hover {
    border-radius: 50%;
}

.rec.rec-arrow:disabled {
    visibility: hidden;
}
.rec.rec-dot {
    border-radius: 0%;
}

.rec.rec-carousel-item {
    height: 20%;
}

.rec.rec-slider-container {
    width: 80%;
}

.rec.rec-carousel-wrapper {
background: rgba( 228, 88, 88, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2.5px );
-webkit-backdrop-filter: blur( 2.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );align-items: center;
padding: 2vh;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
}

.rec.rec-pagination {
    margin-top: 10px;
}